@keyframes movetail {
    from {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    to {
        transform: translateX(-4px) translateY(6px) rotate(-1deg);
    }
}

.squirrel_tail, .fox_tail {
    animation: movetail 1s ease-in-out infinite alternate;
}

@keyframes twitch {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(1.4);
    }
}

.squirrel_ear, .fox_ear {
    animation: twitch 100ms ease-in-out 2s;
    transform-origin: center bottom;
}